<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }

    .card:hover {
        transform: translateY(-5px);
        /* Cambia la tarjeta hacia arriba cuando el cursor está sobre ella */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        /* Añade una sombra más pronunciada */
    }
</style>

<body class="container bg-primary">
    <ul class="bg-secondary" style="list-style: none; padding: 50px 80px 80px 80px;">
        <li th:each="pelicula : ${peliculas}">
            <div class="card mb-3" style="border-radius: 25px; box-shadow: 0 5px 10px black">
                <h3 class="card-header bg-primary text-white" style="border-radius: 25px 25px 0px 0px;"
                    th:text="${pelicula.titulo}"></h3>
                <div class="card-body">
                    <div class="row justify-content-center px-md-3">
                        <div class="col-md-3">

                            <img th:src="@{'/img/peliculas/' + ${pelicula.imagen}}" class="img-fluid" alt="Imagen de la película" />

                        </div>
                        <div class="col-md-9">
                            <p class="card-text" th:text="${pelicula.sinopsis}"></p>
                            <span class="badge text-dark bg-secondary">Duración:<span
                                    th:text="${pelicula.duracion} + 'm'"></span></span>
                            <span class="badge text-dark bg-warning">Puntuación:<span
                                    th:text="${pelicula.puntuacion}"></span></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted" style="border-radius: 0px 0px 25px 25px;"></div>
            </div>
        </li>
    </ul>
</body>