<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar películas</title>
    <!-- Carga de estilos de DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <style>
        .dataTables_wrapper {
            font-size: 14px;
            color: white;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            color: black;
            background-color: plum;
        }

        .highlight-text {
            font-family: 'Arial', sans-serif;
            font-size: 3em;
            color: #8326d4;
            text-transform: uppercase;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: 20px;
            letter-spacing: 2px;
            text-align: center;
        }

        .btn-group {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        .btn-group .btn {
            margin-left: 5px;
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem;
        }
    </style>
</head>

<body>
    <h1 class="highlight-text">GESTION DE PELICULAS</h1>
    <div class="container bg-white mt-4 text-primary" id="table-view-container">
        <div th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="container btn-group">
            <button class="btn btn-primary btn-sm" style="font-size: larger;"
                onclick="window.location.href='/pelicula/c'"><i class="bi bi-plus"></i>Añadir</button>
        </div>
        <table id="peliculasTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Título</th>
                    <th>Fecha de Salida</th>
                    <th>Estado</th>
                    <th>Duración</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Renderiza los datos directamente aquí -->
                <tr th:each="pelicula : ${peliculas}">
                    <td th:text="${pelicula.titulo}"></td>
                    <td th:text="${pelicula.fecha_salida}"></td>
                    <td th:text="${pelicula.estado}"></td>
                    <td th:text="${pelicula.duracion}"></td>
                    <td>
                        <a th:onclick="|window.location.href='/pelicula/rDetailed?id_elemento=${pelicula.idElemento}'|"
                            data-toggle="modal" data-target="#authModal">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="delete-button" th:data-id="${pelicula.idElemento}" data-toggle="modal"
                            data-target="#deleteModal">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar esta película?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Carga de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Carga de DataTables -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {

            var peliculaId;

            // Cuando se haga clic en el botón de eliminar, mostrar el modal y guardar el ID de la película
            $('.delete-button').on('click', function () {
                peliculaId = $(this).attr('data-id');
                $('#deleteModal').modal('show');
            });

            // Cuando se haga clic en el botón de confirmación de eliminación, realizar la solicitud de eliminación
            $('#confirmDeleteBtn').on('click', function () {
                $.ajax({
                    url: '/pelicula/d',
                    method: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { idpelicula: peliculaId },
                    success: function () {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Error al eliminar la película.');
                    }
                });
            });

            $('#peliculasTable').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
                }
            });

            $('.edit-button').on('click', function () {
                var peliculaId = $(this).data('id');
                // Hacer una solicitud AJAX para obtener los datos de la película por ID
                $.ajax({
                    url: '/pelicula/get/u?idpelicula=' + peliculaId,
                    method: 'GET',
                    success: function (data) {
                        $('#id-nombre').val(data.titulo);
                        $('#id-clasificacion').val(data.clasificacion);
                        $('#id-estado').val(data.estado);
                        $('#id-fechaSalida').val(data.fecha_salida);
                        $('#id-duracion').val(data.duracion);
                        $('#id-plataforma').val(data.plataforma);
                        $('#id-puntuacion').val(data.puntuacion);
                        $('#id-cuentaVotos').val(data.cuenta_votos);
                        $('#id-trailer').val(data.trailer);
                        $('#id-urlCompra').val(data.url);
                        $('#id-sinopsis').val(data.sinopsis);
                        $('#idpelicula').val(data.idElemento);

                        // Marcar las categorías
                        $('input[name="categoriaId[]"]').each(function () {
                            var categoriaId = $(this).val();
                            if (data.categorias.includes(parseInt(categoriaId))) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });

                        $('#modal-edit').modal('show');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>