<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista detallada de película</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center">Modificación de película</h1>
                    </div>
                    <div class="card-body">
                        <form action="/guardar-modificacion" method="post">
                            <div class="form-group">
                                <label for="id-nombre">Nombre:</label>
                                <input type="text" id="id-nombre" autofocus="autofocus" name="nombre"
                                       class="form-control" required th:value="${pelicula.titulo}">
                                <input type="hidden" id="idpelicula" name="idpelicula"
                                       th:value="${pelicula.idElemento}">
                            </div>
                            <!-- Agrega aquí los demás campos del formulario -->
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
