<script>
    function goBack() {
      window.history.back();
    }
    </script>

<div class="container">
    <!--Botón volver atrás--> 
    <a href="#" onclick="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
</svg>
    </a>
<br>
<br>

    <h1 class="table table-bordered text-center">Mis Favoritos</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Películas</h2>
                <div class="card">
                    <img src="imagen_pelicula_1.jpg" class="card-img-top" alt="Película 1">
                    <div class="card-body">
                        <h5 class="card-title">Título de la Película 1</h5>
                        <p class="card-text">Descripción de la Película 1.</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
                <!-- Repite este bloque para cada película -->
            </div>
            <div class="col-md-6">
                <h2>Videojuegos</h2>
                <div class="card">
                    <img src="imagen_videojuego_1.jpg" class="card-img-top" alt="Videojuego 1">
                    <div class="card-body">
                        <h5 class="card-title">Título del Videojuego 1</h5>
                        <p class="card-text">Descripción del Videojuego 1.</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
                <!-- Repite este bloque para cada videojuego -->
            </div>
        </div>
    </div>
    
    
    
    
    
</div>
