<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <!-- Enlaces de CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <style>
        /* Estilos personalizados */
    </style>
</head>

<body>
    <div class="container">
        <!-- Botón Volver Atrás -->
        <a href="#" onclick="goBack()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
            </svg>
        </a>
        <br><br>

        <h1>Lista de Usuarios</h1>
        <table id="example" class="uk-table uk-table-hover" style="width:100%">
            <thead>
                <tr>
                    <th class="unaLinea">Nombre</th>
                    <th class="unaLinea">Correo</th>
                    <th class="unaLinea">Puntos</th>
                    <th class="unaLinea">Editar</th>
                    <th class="unaLinea">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td class="puntos" th:text="${usuario.puntos}"></td>
                    <td>
                        <a href="#" id="editarUsuario" th:href="@{'/usuario/u?id=' + ${usuario.correo}}">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="delete-button" th:data-id="${usuario.idPersona}" data-toggle="modal"
                            data-target="#deleteModal">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este usuario?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Enlaces de JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        // Función para el botón de volver atrás
        function goBack() {
            window.history.back();
        }


        // Inicialización de DataTables
        $(document).ready(function () {

            /// Cuando se haga clic en el botón de eliminar, mostrar el modal y guardar el ID del usuario
            $('.delete-button').on('click', function () {
                usuarioId = $(this).attr('data-id');
                $('#deleteModal').modal('show');
            });

            // Cuando se haga clic en el botón de confirmación de eliminación, realizar la solicitud de eliminación
            $('#confirmDeleteBtn').on('click', function () {
                $.ajax({
                    url: '/usuario/d', // Asegúrate de que la URL sea correcta
                    method: 'POST', // Utiliza el método POST para enviar los datos
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { idPersona: usuarioId }, // Envía el parámetro idPersona
                    success: function () {
                        window.location.reload(); // Recarga la página después de eliminar el usuario
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Error al eliminar el usuario.');
                    }
                });
            });

            $('#example').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
                },
                layout: {
                    topStart: 'pageLength',
                    topEnd: 'search',
                    bottomStart: 'info',
                    bottomEnd: 'paging'
                }
            });
        });
    </script>