<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <style>
        .highlight-text {
            font-family: 'Arial', sans-serif;
            font-size: 3em;
            color: #B18FCF;
            text-transform: uppercase;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: 20px;
            letter-spacing: 2px;
            text-align: center;
        }

        .hidden {
            display: none;
        }

        h4 {
            font-weight: bold;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="highlight-text hidden" th:text="|Editar al usuario ${usuario.nombre}|"></h1>
        <div class="text-end">
            <span class="badge bg-info rounded-pill fs-5" th:text="'Rol'"></span>
            <span th:if="${usuario.esAdmin}" class="badge bg-primary rounded-pill fs-5"
                th:text="'Administrador'"></span>
            <span th:if="${!usuario.esAdmin}" class="badge bg-secondary rounded-pill fs-5" th:text="'Usuario'"></span>
        </div>

        <form action="/usuario/u" method="POST">
            <input type="hidden" name="idUsuario" id="usuario" th:value="${usuario.idPersona}">

            <div class="mb-3 hidden">
                <label for="id-nombre" class="form-label">Nombre</label>
                <input type="text" required minlength="2" maxlength="12" class="form-control" id="id-nombre"
                    name="nombre" th:value="${usuario.nombre}" disabled />
            </div>
            <div class="mb-3 hidden">
                <label for="id-correo" class="form-label">Correo</label>
                <input type="email" required minlength="2" maxlength="40" class="form-control" id="id-correo"
                    name="correo" th:value="${usuario.correo}" disabled />
            </div>
            <!-- <div class="mb-3 hidden">
                <label for="id-contra" class="form-label">Contraseña nueva</label>
                <input type="password" required minlength="4" maxlength="15" class="form-control" id="id-contra" name="contra" />
            </div>
            <div class="mb-3 hidden">
                <label for="id-contraRep" class="form-label">Repetir contraseña</label>
                <input type="password" required minlength="4" maxlength="15" class="form-control" id="id-contraRep"
                    name="contraRep" />
            </div> -->
            <h4 style="text-align: center;">Permisos</h4>
            <div class="d-flex justify-content-center mb-3">
                <div class="form-check form-check-inline text-center">
                    <input class="form-check-input" type="radio" name="roleOptions" id="adminOption" value="admin"
                        th:checked="${usuario.esAdmin == true}">
                    <label class="form-check-label btn btn-outline-primary" for="adminOption">Admin</label>
                </div>
                <div class="form-check form-check-inline text-center">
                    <input class="form-check-input" type="radio" name="roleOptions" id="userOption" value="user"
                        th:checked="${usuario.esAdmin == false}">
                    <label class="form-check-label btn btn-outline-secondary" for="userOption">Usuario</label>
                </div>
            </div>

            <input type="hidden" name="idUsuario" id="usuario" th:value="${usuario.idPersona}">
            <button type="submit" onclick="alert('Cambio de permisos correctamente')" class="btn btn-primary w-100">Guardar cambios</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('.highlight-text').fadeIn(1000);
            $('.mb-3').each(function (index) {
                $(this).delay(500 * index).fadeIn(1000);
            });

            $('form').on('submit', function () {
                $('button[type="submit"]').addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando...');
            });
        });
    </script>
</body>