  <style>
        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 2em;
            background-color: #7775e6;
            color: white;
            border-radius: 25px;
            transition: .4s ease-in-out;
        }

        .form:hover {
            transform: scale(1.05);
            border: 1px solid #7775e6;
        }

        #heading {
            text-align: center;
            color: white;
            font-size: 2.4em;
        }

        .field {
            display: flex;
            align-items: center;
            gap: 0.5em;
            border-radius: 25px;
            padding: 0.6em;
            background-color: #7775e6;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
        }

        .input-icon {
            height: 1.3em;
            width: 1.3em;
            fill: white;
        }

        .input-field {
            background: none;
            border: none;
            outline: none;
            width: 100%;
            color: white;
        }
        input::placeholder {
            color: white; /* Cambia el color aquí */
        }

        .form .btn {
            display: flex;
            justify-content: center;
            margin-top: 2.5em;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
        }
        .button1{
            border: 1px white solid;
        } 

        .button1,
        .button2,
        .button3 {
            padding: 0.5em;
            border-radius: 5px;
            border: none;
            outline: none;
            transition: .4s ease-in-out;
            background-color: #7775e6;
            color: white;
            cursor: pointer;
        }

        .button1 {
            margin-right: 0.5em;
        }

        .button1:hover,
        .button2:hover {
            background-color: white;
            color: #7775e6;
        }

        .button3:hover {
            background-color: red;
            color: #7775e6;
        }

        .modal-content {
            background-color: #7775e6;
            color: white;
            border-radius: 25px;
            width: 80%;
            margin: auto;
        }

        .modal-body {
            text-align: center;
        }

        .navbar-brand {
            letter-spacing: 3px;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
        }

        .navbar {
            background-color: transparent !important;
            border-bottom: none !important;
        }

        .navbar-nav .nav-link {
            color: white !important;
        }

        .navbar-nav .nav-link:hover {
            color: rgba(255, 255, 255, 0.7) !important;
        }

        .dropdown-menu li {
            position: relative;
        }

        .dropdown-menu .dropdown-submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .dropdown-menu .dropdown-submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu>li:hover>.dropdown-submenu {
            display: block;
        }

        
</style>

<div id="mySidenav" class="sidenav" style="margin-top:80px opacity-0">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/pelicula/r">Peliculas</a>
    <a href="/juego/r">Juegos</a>
    <a href="/categoria/r">Categorias</a>
    <a href="/evento/r">Eventos</a>
    <hr>
    <a th:if="${session.usuario!=null and session.usuario.esAdmin==true}">
        <h4>Opciones de administrador</h4>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Acciones
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/pelicula/rAdmin">Peliculas</a>
                <a class="dropdown-item" href="/juego/rAdmin">Juegos</a>
                <a class="dropdown-item" href="/categoria/rAdmin">Categorias</a>
                <a class="dropdown-item" href="/evento/c">Eventos</a>
                <a class="dropdown-item" href="/usuario/rAdmin">Usuarios</a>
            </div>
        </div>
    </a>

    <a href="#" id="personIcon" th:if="${session.usuario==null}">Identificate</a>
    <a class="nav-item nav-link" th:if="${session.usuario!=null}" href="/logout"> <button class="btn btn-primary"
            type="button">Logout</button></a>

</div>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>




<nav class="navbar navbar-expand-lg  navbar-dark rounded justify-content-center navbar-scroll">
    <div class="container-fluid">
        <span style="font-size:30px;cursor:pointer; color: plum;" onclick="openNav()">&#9776;</span>
        <a class="navbar-brand" href="/" style="margin-left: 30px;">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item active">
                    <a class="navbar-brand" href="/">
                        <img src="/img/home-alt.png" alt="INICIO" style="width:40px;">
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/pelicula/r">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/juego/r">Videojuegos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/r">Categorias</a>
                </li> -->
                <!-- <li th:if="${session.usuario!=null and session.usuario.esAdmin==true}">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/pelicula/rAdmin">Peliculas</a>
                            <a class="dropdown-item" href="/juego/rAdmin">Juegos</a>
                            <a class="dropdown-item" href="/categoria/rAdmin">Categorias</a>
                            <a class="dropdown-item" href="/evento/c">Eventos</a>
                            <a class="dropdown-item" href="/usuario/rAdmin">Usuarios</a>
                        </div>
                    </div>
                </li> -->


                <div th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a data-mdb-dropdown-init class="nav-link dropdown-toggle" href="/"
                                    id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
                                    aria-expanded="false">
                                    Administrar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="">
                                            Gestionar &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="/pelicula/rAdmin">Peliculas</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/juego/rAdmin">Juegos</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/categoria/rAdmin">Categorias</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/usuario/rAdmin">Usuarios</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/evento/rAdmin">Eventos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            Añadir &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>

                                                <a class="dropdown-item" href="/pelicula/c">Peliculas</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/juego/c">Juegos</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/categoria/c">Categorias</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/usuario/cAdmin">Usuarios</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/evento/c">Eventos</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>



            </ul>
            <div class="d-flex justify-content-center"></div>
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0 mr-3">
            <li class="nav-item" th:if="${session.usuario != null}">
                <span th:if="${session.usuario.puntos >= 15 && session.usuario.puntos <= 100}" class="badge bg-dark rounded-pill fs-6 border border-primary">Primeros pasos</span>
                <span th:if="${session.usuario.puntos >= 101 && session.usuario.puntos <= 200}" class="badge bg-secondary rounded-pill fs-6 border border-primary">Avanzado</span>
                <span th:if="${session.usuario.puntos >= 201 && session.usuario.puntos <= 500}" class="badge bg-info rounded-pill fs-6 border border-primary">Experto</span>
                <span th:if="${session.usuario.puntos >= 501 && session.usuario.puntos <= 1000}" class="badge bg-warning rounded-pill fs-6 border border-primary">Profesional</span>
                <span th:if="${session.usuario.puntos > 1000}" class="badge bg-primary rounded-pill fs-6 border border-primary">VIP</span>
            </li>

            <li class="nav-item" th:if="${session.usuario==null}">
                <a class="nav-link" href="#" style="color: white;">
                    <i id="personIcon" class="bi bi-person-circle " style="font-size: 20px; cursor: pointer;"> <span
                            style="margin-left: 5px;">Identificate</span></i>
                </a>
            </li>


            <div class="dropdown-menu-right" style="text-align: justify;">
                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" th:if="${session.usuario!=null}"
                    th:text="|Buenas, ${session.usuario.nombre}.|">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                    </a>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- Admin -->
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="dropdown-item"
                        href="/pelicula/c">Peliculas </a>
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="dropdown-item"
                        href="/juego/c">Juegos </a>
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="dropdown-item"
                        href="/categoria/c">Categorias </a>
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="dropdown-item" href="/evento/c">Eventos</a>
                    <!-- Registrado -->
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==false}" class="dropdown-item"
                        href="/pelicula/r">Peliculas </a>
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==false}" class="dropdown-item"
                        href="/juego/r">Juegos </a>
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==false}" class="dropdown-item"
                        href="/categoria/r">Categorias </a>
                    <a th:if="${session.usuario!=null and session.usuario.esAdmin==false}" class="dropdown-item" href="/evento/r">Eventos</a> 

                    <hr class="dropdown-divider" />

                    <a class="dropdown-item" href="/usuario/rDetailed">Mi cuenta</a>
                    <a class="dropdown-item" href="/contacto">Ayuda</a>
                    <a class="nav-item nav-link" th:if="${session.usuario!=null}" href="/logout"> <button
                            class="btn btn-primary w-100" type="button">Logout</button></a>
                </div>
            </div>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Modal de Autenticación de usuario -->
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/login" method="post" class="mt-4">
                    <img src="/img/logo.png" height="100" width="100">
                    <p id="heading">Acceder</p>
                    <div class="field mb-2 ">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z">
                            </path>
                        </svg>
                        <input autocomplete="off" placeholder="Email" class="input-field text-white" type="text" name="email"
                            id="id-email" minlength="2" maxlength="40" required>
                    </div>
                    <div class="field mb-2">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                            </path>
                        </svg>
                        <input placeholder="Contraseña" name="pass" id="id-password" class="input-field" required
                            type="password" minlength="4" maxlength="15">
                    </div>
                    <div class="btn">
                        <button
                            class="btn button1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entrar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    <!-- <button class="button3">Forgot Password</button> -->
                </form>
                ¿No tienes cuenta? <a class="btn button2" id="registerModalButton">  Registrarte</a>

            </div>
        </div>
    </div>
</div>

<!-- Modal de Registro -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="usuarioForm" action="/usuario/c" method="post">
                    <img src="/img/logoSaludo.png" height="100" width="100">
                    <p id="heading" class="m-4">Registro</p>
                    <div class="field m-2">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a5.48 5.48 0 0 0-3.757 1.457 7 7 0 0 0 7.514 0A5.48 5.48 0 0 0 8 9z">
                            </path>
                        </svg>
                        <input autocomplete="off" placeholder="Nombre" class="input-field" type="text" id="id-nombre"
                            name="nombre" required minlength="2" maxlength="12">
                    </div>

                    <div class="field m-2">

                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z">
                            </path>
                        </svg>
                        <input autocomplete="off" placeholder="Email" class="input-field" type="text" id="id-email"
                            name="email" required minlength="3" maxlength="30">
                    </div>
                    <div class="field m-2">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                            </path>
                        </svg>
                        <input placeholder="Contraseña" id="id-pass" name="pass" class="input-field" type="password"
                            required minlength="4" maxlength="15">
                    </div>
                    <div class="btn">
                        <button class="button1"
                            type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registrar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <button class="button2" data-dismiss="modal">Cancelar</button>
                    </div>
                    <!-- <button class="button3">Forgot Password</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<script>
    jQuery(document).ready(function ($) {
        $('#personIcon').click(function () {
            $('#personModal').modal('show');
        });
        $('.dropdown-toggle').dropdown()
        // Abre el modal de registro cuando se hace clic en el botón "Registrarse"
        $('#registerModalButton').click(function () {
            $('#registerModal').modal('show');
        });

        $('.navbar-nav #personIcon').click(function () {
            $('#personModal').modal('show');
        });


        if (window.innerWidth < 992) {

            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                    this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                        // hide every submenu as well
                        everysubmenu.style.display = 'none';
                    });
                })
            });

            document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                element.addEventListener('click', function (e) {
                    let nextEl = this.nextElementSibling;
                    if (nextEl && nextEl.classList.contains('submenu')) {
                        // prevent opening link if link needs to open dropdown
                        e.preventDefault();
                        if (nextEl.style.display == 'block') {
                            nextEl.style.display = 'none';
                        } else {
                            nextEl.style.display = 'block';
                        }

                    }
                });
            })
        }
    });
</script>
<div class="container mt-5"> <!-- Cambiado el margen superior a 50px -->
    <!-- Aquí debería estar el código para mostrar los mensajes de error -->
</div>