<link rel="stylesheet" href="/css/footer/footer.css">
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-col">
				<h4>Sobre nosotros</h4>
				<ul>
					<li><a href="#">Sobre nosotros</a></li>
					<li><a href="#">Políticas de privacidad</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Secciones</h4>
				<ul>
					<li><a href="../juego/r">Juegos</a></li>
					<li><a href="../pelicula/r">Películas</a></li>
					<li><a href="../categoria/r">Categorías</a></li>
					<li><a href="../evento/r">Eventos</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>siguenos en nuestras redes sociales</h4>
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

</body>

</html>