<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>TFG</title>
</head>
<style>
	.admin-bg {
		background-color:#9a9595 ;

		/*Azul MArino:#000080
		Marrón:#654321
		Gris oscuro:#333333*/
		
	}
</style>

<body th:class="${session.usuario != null and session.usuario.esAdmin == true} ? 'admin-bg' : 'bg-dark'">
	<br>