<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar juegos</title>
    <!-- Carga de estilos de DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <style>
        .dataTables_wrapper {
            font-size: 14px;
            color: white;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            color: black;
            background-color: plum;
        }
    </style>
</head>

<body>

    <div class="container bg-white mt-4 text-primary" id="table-view-container">
        <h1 class="mt-4">JUEGOS</h1>
        <table id="juegosTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Título</th>
                    <th>Fecha de Salida</th>
                    <th>Estado</th>
                    <th>Duración</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Renderiza los datos directamente aquí -->
                <tr th:each="juego : ${juegos}">
                    <td th:text="${juego.titulo}"></td>
                    <td th:text="${juego.fecha_salida}"></td>
                    <td th:text="${juego.estado}"></td>
                    <td th:text="${juego.duracion}"></td>

                    <td>
                        <a href="#" id="edbo" th:href="@{'/juego/u?id=' + ${juego.idElemento}}">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="delete-button" th:data-id="${juego.idElemento}" data-toggle="modal"
                            data-target="#deleteModal">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>

    </div>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este juego?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Carga de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Carga de DataTables -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        // Función para inicializar DataTables
        $(document).ready(function () {

            var juegoId;

            // Cuando se haga clic en el botón de eliminar, mostrar el modal y guardar el ID del juego
            $('.delete-button').on('click', function () {
                juegoId = $(this).attr('data-id');
                $('#deleteModal').modal('show');
            });

            // Cuando se haga clic en el botón de confirmación de eliminación, realizar la solicitud de eliminación
            $('#confirmDeleteBtn').on('click', function () {
                $.ajax({
                    url: '/juego/d',
                    method: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { idJuego: juegoId },  // Asegúrate de que el nombre del parámetro coincida
                    success: function () {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Error al eliminar el juego.');
                    }
                });
            });

            $('#juegosTable').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
                },
            });
            $('#juegosTable').on('click', '#editarJuegos', function () {
                var juegoId = $(this).closest('tr').find('td:first').text(); // Obtener el ID de la película
                window.location.href = '/juego/u?id=' + juegoId;
            });
        });

    </script>

</body>

</html>