<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear categoría</title>
</head>
<style>
    .btn-brown {
        color: #fff;
        background-color: #6C0E23;
        /* Color marrón */
        border-color: #6C0E23;
        /* Color del borde */
    }

    .btn-brown:hover {
        color: #fff;
        background-color: #961531;
        /* Color marrón más claro al pasar el mouse */
        border-color: #961531;
        /* Color del borde al pasar el mouse */
    }
</style>

<body>
    <div class="container"
        style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-top: 50px;">
        <h1>Nueva Categoría</h1>
        <form id="categoriaForm" action="/categoria/c" method="post">
            <div class="form-group">
                <label for="id-nombre">Nombre</label>
                <input type="text" class="form-control" id="id-nombre" autofocus="autofocus" name="nombre"
                    placeholder="Nombre de la categoría">
                <small id="nombreHelp" class="form-text text-danger"></small>
            </div>
            <button type="submit" class="btn btn-brown">Crear</button>
            <button class="btn btn-brown" onclick="window.location.href='/categoria/r'">Volver</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <!-- <script>
        $(document).ready(function () {
            $('#categoriaForm').submit(function (event) {
                event.preventDefault();
                var nombre = $('#id-nombre').val();
                if (!nombre) {
                    $('#nombreHelp').text('Por favor, introduce un nombre.');
                } else {
                    this.submit();
                }
            });
        });
    </script> -->
</body>

</html>