<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de categorias</title>
    <link rel="stylesheet" href="/css/categorias/categorias.css">
</head>


<body>
    <div class="container mt-5">
        <h1 class="highlight-text mb-3">Listado de categorias</h1>

        <div class="row">
            <div class="col-md-3 col-6" th:each="categoria, iterStat : ${categorias}">
                <div class="wrap">
                    <div th:class="'box ' + ${classArray[(iterStat.count - 1) % 16]}">
                        <div class="date"></div>
                        <h1 th:text="${categoria.nombre}"></h1>
                        <div th:class="'poster p' + ${iterStat.count % 16 == 0 ? 16 : iterStat.count % 16}">
                            <h4 th:text="${#strings.substring(categoria.nombre, 0, 1)}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>