<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de categorias</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <style>
        /* Estilos personalizados */
        .bg-warning {
            background-color: #7b07ff !important;
            color: #ffffff !important;
        }

        .bg-success {
            background-color: #28a745 !important;
            color: #fff !important;
        }

        .bg-info {
            background-color: #17a2b8 !important;
            color: #fff !important;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        /* Animación de entrada */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .container {
            animation: fadeIn 1s ease;
        }

        /* Alinear botones */
        .btn-group {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        .btn-group .btn {
            margin-left: 5px;
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <!-- Botón de creación de categoría -->
                    <button th:if="${session.usuario!=null and session.usuario.esAdmin==true}" class="btn btn-primary btn-sm"
                        style="font-size: larger;" onclick="window.location.href='/categoria/c'">Crear categoría</button>
                </div>
                
                <h1>Gestión de categorías</h1>
            </div>
        </div>
        <!-- <table class="table table-striped text-center mt-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categoria : ${categorias}">
                    <td class="bg-warning text-dark" th:text="${categoria.nombre}"></td>
                    <td class="bg-info">
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                th:onclick="|window.location.href='/categoria/u?id=${categoria.id_categoria}'|">Editar</button>
                            <form action="/categoria/d" method="post">
                                <input type="hidden" name="id" th:value="${categoria.idCategoria}">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->

        <th:block th:with="contador=0">
    <table id="example" class="uk-table uk-table-hover bg-white text-black " style="width:100%">
        <thead>
            <tr>
                <th class="unaLinea">Nombre</th>
                <th class="unaLinea">Editar</th>
                <th class="unaLinea">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria, iterStatus : ${categorias}">
                <td th:text="${categoria.nombre}"></td>
                <td>
                    <a href="#" id="edbo" th:href="@{'/categoria/u?id=' + ${categoria.idCategoria}}">
                        <i class="bi bi-pen-fill"></i>
                    </a>
                </td>
                <td>
                    <a href="#" id="edbo" th:href="@{'/categoria/u?id=' + ${categoria.idCategoria}}">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</body>

</html>


<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<script>
    // Para el botón de volver atrás
    function goBack() {
        window.history.back();
    }

    // Función para eliminar usuario
    function eliminarCategoria(id) {
        if (confirm('¿Estás seguro de que deseas eliminar esta categoría?')) {
            // Creamos un formulario temporal
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/categoria/d');

            // Creamos un campo de entrada oculto para el ID del usuario
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'id');
            input.setAttribute('value', id);

            // Agregamos el campo de entrada al formulario
            form.appendChild(input);

            // Agregamos el formulario al cuerpo del documento
            document.body.appendChild(form);

            // Enviamos el formulario
            form.submit();
        }
    }

    // Inicializamos DataTables
    $(document).ready(function () {
        $('#example').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
            },
            layout: {
                topStart: 'pageLength',
                topEnd: 'search',
                bottomStart: 'info',
                bottomEnd: 'paging'
            }
        });

    });
</script>


</div>




<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<script>
    // Para el botón de volver atrás
    function goBack() {
        window.history.back();
    }

    // Función para eliminar usuario
    function eliminarUsuario(id) {
        if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
            // Creamos un formulario temporal
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/usuario/d');

            // Creamos un campo de entrada oculto para el ID del usuario
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'id');
            input.setAttribute('value', id);

            // Agregamos el campo de entrada al formulario
            form.appendChild(input);

            // Agregamos el formulario al cuerpo del documento
            document.body.appendChild(form);

            // Enviamos el formulario
            form.submit();
        }
    }

    // Inicializamos DataTables
    $(document).ready(function () {
        $('#example').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
            },
            layout: {
                topStart: 'pageLength',
                topEnd: 'search',
                bottomStart: 'info',
                bottomEnd: 'paging'
            }
        });

    });
</script>


</div>