<!-- resultado_busqueda.html -->
<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de búsqueda</title>
</head>
<body>
     Mostrar los resultados de la búsqueda 
    <h2>Resultados de la búsqueda:</h2>
    <ul>
        <li th:each="pelicula : ${peliculasEncontradas}">
            Mostrar información de cada película encontrada 
            <p th:text="${pelicula.titulo}"></p>
             Agrega más información de la película si es necesario 
        </li>
    </ul> 
</body>
</html> -->