.input {
    height: 40px;
    border-radius: 8px;
    border: 2px solid #B18FCF;
    outline: none;
    transition: 200ms ease-in;
    padding-left: 1rem;
  }
  
  .input:focus {
    border-bottom: 4px solid #B18FCF;
    padding-top: 2px;
  }
  
  .input::placeholder {
    color: #B18FCF;
    opacity: 0.5;
  }