        /* Estilos personalizados */
        .movie-poster img {
            width: 100%;
            /* Hace que la imagen ocupe el 100% del ancho del contenedor */
            height: auto;
            /* Permite que la altura se ajuste automáticamente para mantener la proporción */
        }

        .date {
            color: rgb(208, 255, 0);
        }

        .time {
            color: rgb(208, 255, 0);
        }

        .movie-details {
            width: calc(100% - 150px);
            /* Para dejar espacio a la imagen */
        }

        #id-sinopsis {
            height: 150px;
            /* Altura ajustable */
            resize: none;
            /* Deshabilita el redimensionamiento */
        }

        .card-small {
            transform: scale(0.8);
        }

        .text-small {
            transform: scale(0.6);
        }

        .circuloSmall {
            transform: scale(0.7);
        }

        .card-offset {
            top: -80px;
            /* Ajusta la posición hacia arriba */
            left: 60px;
            /* Ajusta la posición hacia la derecha */
        }

        .contenidoArriba {
            position: relative;
            left: 150px;
            top: -280px;
        }

        .cardArriba {
            position: relative;
            top: -100px;
        }

        .card {
            position: relative;
            background: lightgrey;
            box-shadow: #d11bff42 0 15px 40px -5px;
            z-index: 1;
            border-radius: 21px;
            overflow: hidden;
        }

        .card__content {
            background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            border-radius: 21px;
        }

        .card .blob {
            position: absolute;
            z-index: -1;
            border-radius: 5em;
            width: 200px;
            height: 200px;
        }

        .card .blob:nth-child(2) {
            left: -50px;
            top: -90px;
            background: #ff930f;
        }

        .card .blob:nth-child(3) {
            left: 110px;
            top: -20px;
            z-index: -1;
            background: #bf0fff;
        }

        .card .blob:nth-child(4) {
            left: -40px;
            top: 100px;
            background: #ff1b6b;
        }

        .card .blob:nth-child(5) {
            left: 100px;
            top: 180px;
            background: #0061ff;
        }

        @media (max-width: 768px) {

            .btn-block {
                width: 100%;
            }
        }

        .highlight-text {
            font-family: 'Arial', sans-serif;
            font-size: 3em;
            color: #B18FCF;
            text-transform: uppercase;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: 20px;
            letter-spacing: 2px;
        }

        .heart-container {
            --heart-color: rgb(255, 91, 137);
            position: relative;
            width: 50px;
            height: 50px;
            transition: .3s;
        }

        .heart-container .checkbox {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 20;
            cursor: pointer;
        }

        .heart-container .svg-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .heart-container .svg-outline,
        .heart-container .svg-filled {
            fill: var(--heart-color);
            position: absolute;
        }

        .heart-container .svg-filled {
            animation: keyframes-svg-filled 1s;
            display: none;
        }

        .heart-container .svg-celebrate {
            position: absolute;
            animation: keyframes-svg-celebrate .5s;
            animation-fill-mode: forwards;
            display: none;
            stroke: var(--heart-color);
            fill: var(--heart-color);
            stroke-width: 2px;
        }

        .heart-container .checkbox:checked~.svg-container .svg-filled {
            display: block
        }

        .heart-container .checkbox:checked~.svg-container .svg-celebrate {
            display: block
        }

        @keyframes keyframes-svg-filled {
            0% {
                transform: scale(0);
            }

            25% {
                transform: scale(1.2);
            }

            50% {
                transform: scale(1);
                filter: brightness(1.5);
            }
        }

        @keyframes keyframes-svg-celebrate {
            0% {
                transform: scale(0);
            }

            50% {
                opacity: 1;
                filter: brightness(1.5);
            }

            100% {
                transform: scale(1.4);
                opacity: 0;
                display: none;
            }
        }

        #svg circle {
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 1s linear;
            stroke: #666;
            stroke-width: 1em;
        }

        #svg #bar {
            stroke: #39D2C0;
        }

        #cont {
            display: block;
            height: 200px;
            width: 200px;
            margin: 2em auto;
            box-shadow: 0 0 1em black;
            border-radius: 100%;
            position: relative;
        }

        #cont:after {
            position: absolute;
            display: block;
            height: 160px;
            width: 160px;
            left: 50%;
            top: 50%;
            box-shadow: inset 0 0 1em black;
            content: attr(data-pct)"";
            margin-top: -80px;
            margin-left: -80px;
            border-radius: 100%;
            line-height: 160px;
            font-size: 4em;
            text-align: center;
            color: white;
            text-shadow: 0 0 0.5em black;
        }

        .modal,
        .modal-box {
            z-index: 900;
        }

        .modal-sandbox {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: transparent;
        }

        .modal {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, .8);
            overflow: auto;
        }

        .modal-box {
            position: relative;
            width: 80%;
            max-width: 920px;
            margin: 100px auto;
            animation-name: modalbox;
            animation-duration: .4s;
            animation-timing-function: cubic-bezier(0, 0, .3, 1.6);
        }

        .modal-header {
            padding: 20px 40px;
            background: #B18FCF;
            color: #ffffff;
        }

        .modal-body {
            background: #ECEFF1;
            padding: 60px 40px;
        }

        /* Close Button */
        .close-modal {
            text-align: right;
            cursor: pointer;
        }

        /* Animation */
        @-webkit-keyframes modalbox {
            0% {
                top: -250px;
                opacity: 0;
            }

            100% {
                top: 0;
                opacity: 1;
            }
        }

        @keyframes modalbox {
            0% {
                top: -250px;
                opacity: 0;
            }

            100% {
                top: 0;
                opacity: 1;
            }
        }



        .modal-trigger {
            top: 50%;
            left: 50%;
            padding: 20px 40px;
            background: transparent;
            color: #ffffff;
            border: 1px solid #ffffff;
            text-decoration: none;
        }

        .modal-trigger {
            position: absolute;
            top: 21%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: ease .2s;
        }


        .modal-trigger:hover {
            padding: 20px 60px;
        }

        .option-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            position: relative;
            height: 20px;
            width: 20px;
            transition: all 0.15s ease-out 0s;
            background: #cbd1d8;
            border: none;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            margin-right: 0.5rem;
            outline: none;
            position: relative;
            z-index: 1000;
        }

        .option-input:hover {
            background: #9faab7;
        }

        .option-input:checked {
            background: #B18FCF;
        }

        .option-input:checked::before {
            width: 20px;
            height: 20px;
            display: flex;

            font-size: 12px;
            font-weight: bold;
            position: absolute;
            align-items: center;
            justify-content: center;

        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #B18FCF;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }


        .puntuacionIzq {
            position: relative;
            right: 20%;
        }


        @keyframes click-wave {
            0% {
                height: 40px;
                width: 40px;
                opacity: 0.35;
                position: relative;
            }

            100% {
                height: 200px;
                width: 200px;
                margin-left: -80px;
                margin-top: -80px;
                opacity: 0;
            }
        }



        /*ESTRELLAS*/

        .rating {
            display: inline-block;
        }

        .rating input {
            display: none;
        }

        .rating label {
            float: right;
            cursor: pointer;
            color: #ccc;
            transition: color 0.3s;
        }

        .rating label:before {
            content: '\2605';
            font-size: 30px;
        }

        .rating input:checked~label,
        .rating label:hover,
        .rating label:hover~label {
            color: #6f00ff;
            transition: color 0.3s;
        }

        .cont_select_center {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -30px;
            margin-left: -150px;
        }

        .cont_heg_50 {
            position: absolute;
            height: 50%;
            left: 0;
            top: 0;
            width: 100%;
            background-color: #fd7b52;
        }

        /* ///  END DECORATION CSS  ///  */

        .icon_select_mate {
            position: absolute;
            top: 20px;
            right: 2%;
            font-size: 16px;
            height: 22px;
            transition: all 275ms;
        }

        .select_mate {
            position: relative;
            font-family: 'Roboto';
            color: #777;
            font-weight: 300;
            background-color: #fff;
            box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            transition: all 375ms ease-in-out;

            /* Oculto el elemento select */
            select {
                position: absolute;
                overflow: hidden;
                height: 0px;
                opacity: 0;
                z-index: -1;
            }
        }

        .cont_list_select_mate {
            position: relative;
            float: left;
            width: 100%;
        }

        .cont_select_int {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 999;
            overflow: hidden;
            height: 0px;
            width: 100%;
            background-color: #fff;
            padding: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            border-radius: 0px 0px 3px 3px;
            box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
            transition: all 375ms ease-in-out;

            li {
                position: relative;
                float: left;
                width: 96%;
                border-bottom: 1px solid #E0E0E0;
                background-color: #F5F5F5;
                list-style-type: none;
                padding: 10px 2%;
                margin: 0px;
                transition: all 275ms ease-in-out;
                display: block;
                cursor: pointer;

                &:last-child {
                    border-radius: 3px;
                    border-bottom: 0px;

                }

                &:hover {
                    background-color: #EEEEEE;
                }
            }

            .active {
                background-color: #EEEEEE;
            }

        }

        /* etiqueta <p> con la opcion selecionada  */
        .selecionado_opcion {
            padding: 20px 2%;
            width: 96%;
            display: block;
            margin: 0px;
            cursor: pointer;
        }

        .custom-dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-button {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            padding: 10px;
            cursor: pointer;
            width: 100%;
            text-align: left;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown-content label {
            display: block;
            margin-bottom: 8px;
        }

        .custom-dropdown.show .dropdown-content {
            display: block;
        }

        .rating {
            display: inline-block;
        }

        .rating input {
            display: none;
        }

        .rating label {
            float: right;
            cursor: pointer;
            color: #ccc;
            transition: color 0.3s;
        }

        .rating label:before {
            content: '\2605';
            font-size: 30px;
        }

        .rating input:checked~label,
        .rating label:hover,
        .rating label:hover~label {
            color: #6f00ff;
            transition: color 0.3s;
        }

        #clockdiv {
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
        }

        #clockdiv>div {
            padding: 10px;
            border-radius: 3px;
            background: #ff8a80;
            display: inline-block;
        }

        #clockdiv div>span {
            padding: 15px;
            border-radius: 3px;
            background: #f44336;
            display: inline-block;
        }

        .smalltext {
            padding-top: 5px;
            font-size: 16px;
        }

        .icon_select_mate {
            position: absolute;
            top: 20px;
            right: 2%;
            font-size: 16px;
            height: 22px;
            transition: all 275ms;
        }

        .select_mate {
            position: relative;
            font-family: 'Roboto';
            color: #777;
            font-weight: 300;
            background-color: #fff;
            box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            transition: all 375ms ease-in-out;

            /* Oculto el elemento select */
            select {
                position: absolute;
                overflow: hidden;
                height: 0px;
                opacity: 0;
                z-index: -1;
            }
        }

        .cont_list_select_mate {
            position: relative;
            float: left;
            width: 70%;
        }

        .cont_select_int {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 999;
            overflow: hidden;
            height: 0px;
            width: 100%;
            background-color: #fff;
            padding: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            border-radius: 0px 0px 3px 3px;
            box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
            transition: all 375ms ease-in-out;

            li {
                position: relative;
                float: left;
                width: 96%;
                border-bottom: 1px solid #E0E0E0;
                background-color: #F5F5F5;
                list-style-type: none;
                padding: 10px 2%;
                margin: 0px;
                transition: all 275ms ease-in-out;
                display: block;
                cursor: pointer;

                &:last-child {
                    border-radius: 3px;
                    border-bottom: 0px;

                }

                &:hover {
                    background-color: #EEEEEE;
                }
            }

            .active {
                background-color: #EEEEEE;
            }

        }

        /* etiqueta <p> con la opcion selecionada  */
        .selecionado_opcion {
            padding: 20px 2%;
            width: 96%;
            display: block;
            margin: 0px;
            cursor: pointer;
        }

        .custom-dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-button {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            padding: 10px;
            cursor: pointer;
            width: 100%;
            text-align: left;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown-content label {
            display: block;
            margin-bottom: 8px;
        }

        .custom-dropdown.show .dropdown-content {
            display: block;
        }

        .input-size {
            height: calc(2.25rem + 2px);
            /* Altura estándar para input y select */
            padding: .375rem .75rem;
            /* Padding estándar para input y select */
            font-size: 1rem;
            /* Fuente estándar para input y select */
            line-height: 1.5;
            /* Altura de línea estándar */
            border: 1px solid #ced4da;
            /* Borde estándar */
            border-radius: .25rem;
            /* Radio de borde estándar */
        }

        .form-control {
            width: 100%;
            /* Asegura que el ancho sea del 100% del contenedor */
            box-sizing: border-box;
            /* Incluye el padding y el borde en el tamaño total */
        }
        