@charset "UTF-8";
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.42em;
        color: black;
        background-color: #F2E9E4;
    }

    h1 {
        font-weight: bold;
        font-size: 3em;
        line-height: 1em;
        text-align: center;
        color: #483cb7;
    }

    .container {
        text-align: left;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        padding: 0 0 8em 0;
    }

    .container table {
        background-color: #F2E9E4;
        /* Cambiar el color de fondo de la tabla */
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px;
    }

    .container td,
    .container th {
        padding-bottom: 2%;
        padding-top: 2%;
        padding-left: 2%;
        border-radius: 5px 5px 5px 5px;
        color: #F2E9E4;

    }

    .container table tbody tr:hover {
        /* Cambiar el cursor al pasar sobre las filas */
        cursor: pointer;
        /* Cambiar el color de fondo al pasar sobre las filas */
        background-color: rgb(221, 209, 75);
    }

    .container table tbody tr:hover td {
        /* Cambiar el color del texto a negro al pasar sobre las filas */
        color: black;
    }

    .container table tbody tr:hover i {
        /* Cambiar el color del texto a negro al pasar sobre las filas */
        color: black;
    }

    .unaLinea {
        background-color: #3b4964;
    }

    #edbo {
        color: #F2E9E4;
    }

    .container table tbody tr td,
    .container table tbody tr i {
        color: black;
    }


    .container table thead th {
        /* Mantener el color del encabezado original */
        color: #F2E9E4;
    }

    /* Estilo para centrar los iconos */
    .container table tbody tr td i {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Estilo para centrar puntos*/
    .puntos {
        text-align: center;
    }