<!doctype html>
<html>

<head>
    <meta charset="utf-8" />

    <title>Home principal sin registro</title>
    <!-- Enlazamos el bootrstap -->
    <link rel="stylesheet" a href="../../static/js/bootstrap.bundle.min.js" />
    <!-- Enlazamos el CSS del home -->
    <link rel="stylesheet" a href="../../static/css/bootstrap.min2.css" />
    <!-- Enlazamos el link de los iconos -->

</head>

<body>

    <!-- Menú de la página web -->
	<!-- Opciones del menú -->
	<!-- <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-sm-2" type="search" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav> -->
    <!-- Aquí empieza el encabezado principal que se mantendrá en todas las páginas del sitio web -->
    <!-- ---------------------------------------------------------- -->
    <!-- <nav role="navigation">
            <div id="menuToggle">
                <h1>Nombre página</h1> -->
    <!--
              Se utiliza una casilla de verificación oculta como receptor de click,
              Por lo tanto,se puede usar el selector :checked.
              -->
    <!-- <input type="checkbox" />

                <span></span>
                <span></span>
                <span></span>

                <ul id="menu">
                    <a href="../home/home.html">
                        <li>Inicio</li>
                    </a>
                    <a href="../elemento/pelicula/pelicula.html">
                        <li>Películas</li>
                    </a>
                    <a href="../elemento/videojuego/videojuego.html">
                        <li>Videojuegos</li>
                    </a>
                    <a href="../evento/evento.html">
                        <li>Evento</li>
                    </a>
                    <a href="../novedad/novedad.html">
                        <li>Novedades</li>
                    </a>
                    <a href="../nosotros/nosotros.html">
                        <li>Sobre nosotros</li>
                    </a>
                </ul>
            </div> -->
    <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->

    <!-- Añadimos dos iconos al lado del menú -->
    <!-- <div class="opciones"> -->
    <!--Registrar  -->
    <!-- <div id="registro">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </div> -->
    <!-- Buscar -->
    <!-- <div id="buscar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </div>
            </div>
        </nav>
    </header>

    <main> -->
    <!-- Carrousel de películas y otro de videojuegos -->
    <!-- Películas -->
    <!-- <div class="movies-reco cont">
            <div class="cont-title-control">
                <h3>Películas Populares</h3>
                <div class="indicator"></div>
            </div>

            <div class="principal-cont">
                <button role="button" id="left-arrow" class="left-arrow"><i class="fas fa-angle-left"></i></button>

                <div class="cont-corrousel">
                    <div class="carrousel">
                        <div class="movies">
                            <a href="#"><img
                                    src="https://image.tmdb.org/t/p/w500_and_h282_face/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://image.tmdb.org/t/p/w500_and_h282_face/oLma4sWjqlXVr0E3jpaXQCytuG9.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://th.bing.com/th/id/R.8fd951e29c528a4052ad3759292839c8?rik=uToanrvpI8sMjw&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2ftransformers-4-age-of-extinction-movie.jpg&ehk=PTT4JVLCF0dmJN7kYx%2buLjbSXeTHUB1dh42jadADRlg%3d&risl=&pid=ImgRaw&r=0"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://image.tmdb.org/t/p/w500_and_h282_face/AjtPveq4ZdDDvMGHY4Vi4LIM8oe.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://image.tmdb.org/t/p/w500_and_h282_face/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg"
                                    width="300" alt=""></a>
                        </div>
                    </div>
                </div>
                <button role="button" id="right-arrow" class="right-arrow"><i class="fas fa-angle-right"></i></button>
            </div> -->


    <!-- </div>
        </div> -->
    <!-- Videojuegos -->
    <!-- <div class="movies-reco cont">
            <div class="cont-title-control">
                <h3>Videojuegos Populares</h3>
                <div class="indicator"></div>
            </div>

            <div class="principal-cont">
                <button role="button" id="left-arrow" class="left-arrow"><i class="fas fa-angle-left"></i></button>

                <div class="cont-corrousel">
                    <div class="carrousel">
                        <div class="movies">
                            <a href="#"><img
                                    src="https://media.contentapi.ea.com/content/dam/eacom/SIMS/Console/the-sims-4-deluxe-console-xboxone.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://media.contentapi.ea.com/content/dam/eacom/SIMS/Console/the-sims-4-deluxe-console-xboxone.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://media.contentapi.ea.com/content/dam/eacom/SIMS/Console/the-sims-4-deluxe-console-xboxone.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://media.contentapi.ea.com/content/dam/eacom/SIMS/Console/the-sims-4-deluxe-console-xboxone.jpg"
                                    width="300" alt=""></a>
                        </div>
                        <div class="movies">
                            <a href="#"><img
                                    src="https://1.bp.blogspot.com/--iB8P2KZ5Zg/XuycUrv_KGI/AAAAAAAACIY/VAFmf8W2QZ0o87gySyL967pfg79UNaQrgCLcBGAsYHQ/s1600/91yl-1fcrxL._SL1500_.jpg"
                                    width="300" alt=""></a>
                        </div>
                    </div>
                </div>
                <button role="button" id="right-arrow" class="right-arrow"><i class="fas fa-angle-right"></i></button>
            </div>


        </div>
        </div>
    </main> -->
    <!-- Y aquí está nuestro pie de página principal que se utiliza en todas las páginas de nuestro sitio web -->
    <!-- <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="../nosotros/nosotros.html">Empresa</a></li>
                        <li><a href="#">Videojuegos</a></li>
                        <li><a href="#">Películas</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Afiliarse al programa</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </footer> -->
</body>

</html>