<style>
    body {
        background-color: #000;
        color: #fff;
    }

    .container {
        margin-top: 5rem;
    }

    strong {
        color: rgb(236, 206, 248);
    }

    a {
        color: #0d6efd;
    }

    h1 {
        background-color: #8f1aa7;
        padding: 1rem;
        border-radius: 0.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h1,
    h2 {
        font-family: 'Arial', sans-serif;
        font-size: 3em;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    h2 {
        text-shadow: 2px 2px 4px rgba(247, 146, 242, 0.5);
    }

    .list {
        margin: 2%;
    }

    h4 {
        color: #bc6fe0;
    }

    p,
    ul {
        text-align: justify;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Política de Privacidad</h1>
            <p class="lead">Tu privacidad es importante para nosotros.</p>
            <p>Aquí nos comprometemos a proteger tu privacidad y garantizar que tu información
                personal esté segura. Esta política de privacidad describe cómo recopilamos, utilizamos y compartimos tu
                información cuando visitas o realizas una compra en nuestro sitio web.</p>

            <h4 class="mt-4">Información que Recopilamos</h4>
            <p>Recopilamos varios tipos de información en relación con los servicios que ofrecemos, incluyendo:</p>
            <ul>
                <li class="list"><strong>Información Personal:</strong> Como tu nombre, dirección de correo
                    electrónico,entre otros</li>
                <li class="list"><strong>Información de Uso:</strong> Detalles sobre cómo utilizas nuestro sitio web,
                    incluyendo las
                    páginas que visitas y las acciones que realizas.</li>
                <li class="list"><strong>Información Técnica:</strong> Datos como tu dirección IP, tipo de navegador,
                    sistema
                    operativo y otras características técnicas que utilizamos para mejorar nuestro servicio.</li>
            </ul>

            <h4 class="mt-4">Cómo Utilizamos tu Información</h4>
            <p>Utilizamos la información que recopilamos para los siguientes fines:</p>
            <ul>
                <li><strong>Mejorar Nuestro Servicio:</strong> Para entender cómo utilizas nuestro sitio web y mejorar
                    tu experiencia de usuario.</li>
                <li><strong>Comunicaciones:</strong> Para enviarte actualizaciones sobre tu pedido, ofertas especiales y
                    otra información relevante.</li>
                <li><strong>Seguridad:</strong> Para proteger nuestro sitio web y a nuestros usuarios contra el fraude y
                    otros riesgos de seguridad.</li>
            </ul>

            <h4 class="mt-4">Compartir tu Información</h4>
            <p>No compartimos tu información personal con terceros, excepto en los siguientes casos:</p>
            <ul>
                <li><strong>Cumplimiento Legal:</strong> Podemos divulgar tu información si es necesario para cumplir
                    con la ley, una orden judicial o un proceso legal, o para proteger los derechos, la propiedad o la
                    seguridad de nuestros usuarios.</li>
            </ul>

            <h4 class="mt-4">Tus Derechos</h4>
            <p>Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. También
                puedes optar por no recibir nuestras comunicaciones de marketing. Para ejercer estos derechos, por favor
                contáctanos a través de la información de contacto proporcionada en nuestro sitio web.</p>

            <h4 class="mt-4">Seguridad de la Información</h4>
            <p>Implementamos medidas de seguridad adecuadas para proteger tu información personal contra el acceso no
                autorizado, la alteración, divulgación o destrucción. Sin embargo, ninguna transmisión de datos por
                Internet o método de almacenamiento electrónico es 100% seguro, por lo que no podemos garantizar una
                seguridad absoluta.</p>

            <h4 class="mt-4">Cambios en Esta Política</h4>
            <p>Podemos actualizar esta política de privacidad periódicamente para reflejar cambios en nuestras prácticas
                o por otras razones operativas, legales o regulatorias. Te recomendamos revisar esta página regularmente
                para estar informado sobre cómo protegemos tu información.</p>

            <h4 class="mt-4">Contacto</h4>
            <p>Si tienes preguntas o inquietudes sobre nuestra política de privacidad o nuestras prácticas de
                privacidad, por favor contáctanos a través de la información de contacto proporcionada en nuestro sitio.
        </div>
    </div>
</div>