<style>
    body {
        background-color: #000;
        color: #fff;
    }

    .container {
        margin-top: 5rem;
    }

    strong {
        color: rgb(236, 206, 248);
    }

    a {
        color: #0d6efd;
    }

    h1 {
        background-color: #8f1aa7;
        padding: 1rem;
        border-radius: 0.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h1,
    h2 {
        font-family: 'Arial', sans-serif;
        font-size: 3em;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    h2 {
        text-shadow: 2px 2px 4px rgba(247, 146, 242, 0.5);
    }

    .list {
        margin: 2%;
    }

    h4 {
        color: #bc6fe0;
    }

    p,
    ul {
        text-align: justify;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Sobre Nosotros</h1>
            <p class="lead">¡Bienvenidos a nuestra página!</p>
            <p>Aquí, somos apasionados por el entretenimiento en todas sus formas. Nuestra misión es
                ofrecerte una experiencia única al explorar, descubrir y disfrutar de una amplia selección de
                videojuegos y películas. Nos enorgullece ser tu fuente de referencia para los mejores títulos y
                producciones del mundo del entretenimiento. Queremos que cada visita a nuestro sitio sea una
                oportunidad para encontrar algo nuevo y emocionante.</p>

            <h4 class="mt-4">Nuestra Historia</h4>
            <p>Esta página nació del amor por los videojuegos y el cine. Empezamos como un pequeño grupo de entusiastas
                con el sueño de crear una plataforma donde los aficionados pudieran encontrar todo lo que buscan en un
                solo lugar. Con el tiempo, hemos crecido gracias a la comunidad de seguidores que comparte nuestra
                pasión.
                A lo largo de los años, hemos evolucionado para incluir las últimas innovaciones y tendencias del
                mercado,
                manteniendo siempre nuestro compromiso con la calidad y la pasión por el entretenimiento.</p>

            <h4 class="mt-4">Qué Ofrecemos</h4>
            <ul>
                <li class="list"><strong>Videojuegos:</strong> Desde los últimos lanzamientos hasta los clásicos
                    atemporales, nuestra
                    colección de videojuegos abarca todos los géneros y plataformas. Ya seas un gamer casual o un
                    hardcore, tenemos algo para ti. Ofrecemos títulos para todas las edades y preferencias, asegurando
                    que todos encuentren algo que les apasione.</li>
                <li class="list"><strong>Películas:</strong> Nuestra biblioteca de películas incluye desde los éxitos
                    más recientes
                    de taquilla hasta las joyas del cine independiente. Disfruta de una variedad de géneros que te
                    mantendrán pegado a la pantalla. Nos esforzamos por tener una colección diversa que incluya tanto
                    clásicos como novedades, garantizando que siempre haya algo interesante para ver.</li>
                <li class="list"><strong>Reseñas:</strong> No solo ofrecemos una amplia gama de productos, sino que
                    también proporcionamos reseñas detalladas para ayudarte a encontrar
                    exactamente lo que necesitas.</li>
                <li class="list"><strong>Informacion:</strong> Informate de la mejores maneras en nuestra pagina,
                    disfrutando todas las posibilidades que nuestro catalogo.¡Lo tiene todo! , fecha , un
                    trailer,caracteristicas generales y hasta que viene
                    con un resumen. Disfruta de una informacion de calidad
                </li>
            </ul>

            <h4 class="mt-4">Nuestra Filosofía</h4>
            <p>Creemos que el entretenimiento es una parte esencial de la vida. Por eso, trabajamos arduamente para
                mantenernos actualizados con las últimas tendencias y novedades en el mundo de los videojuegos y las
                películas. Nos dedicamos a proporcionar un servicio al cliente excepcional, asegurando que tu
                experiencia con nosotros sea siempre positiva y satisfactoria. Nuestro objetivo es crear una comunidad
                de entusiastas que compartan su amor por el entretenimiento y se apoyen mutuamente en sus búsquedas
                de nuevos y emocionantes contenidos.</p>

            <h4 class="mt-4">Conecta con Nosotros</h4>
            <p>¡Nos encanta escuchar a nuestros clientes! Si tienes alguna pregunta, sugerencia o simplemente quieres
                compartir tu opinión sobre un videojuego o una película, no dudes en contactarnos. Síguenos en nuestras
                redes sociales para estar al día con las últimas noticias y promociones. Participa en nuestras
                discusiones en línea, únete a nuestros eventos y sé parte de nuestra vibrante comunidad.</p>

            <p class="mt-4">¡Gracias por elegirnos! Estamos emocionados de ser parte de tu viaje en el increíble mundo
                del entretenimiento. Tu apoyo y participación son fundamentales para nosotros, y estamos comprometidos
                a seguir mejorando y expandiendo nuestra oferta para servirte mejor cada día.</p>
        </div>
    </div>
</div>